*
{
	clear:			both;
}

a
{
	color:				#3f3fff;
	text-decoration:	none;
	white-space:		nowrap;
}

	a:hover
	{
		text-decoration:	underline;
	}

	a.tag
	{
		display:			inline-block;
		margin:				0.25em;
		padding:			0em;
	}

body
{
	font-family:		sans-serif;
	font-size:			8pt;
	font-weight:		bold;	
	min-width:			550px;
	margin:				2em;
	text-align:			center;
}

div
{
	border-width:		0px;
}

	div.button-download, div.button-edit, div.button-bookmark
	{
		display:		inline-block;
		margin:			0.5em;
	}

		div.button-download img, div.button-edit img, div.button-bookmark img
		{
			margin:			0.5em;
		}

	div.cc-license-chooser
	{
	}

		div.cc-license-chooser img
		{
			margin:				0.25em;
			vertical-align:		middle;
		}

	div.comments
	{
		display:		none;
	}

	div.footer
	{
		padding:		0.75em;
	}

	div.header1
	{
		color:			#525252;
		float:			left;
		text-align:		left;
		width:			50%;
		vertical-align:	bottom;
	}

	div.header2
	{
		clear:			none;
		float:			right;
		text-align:		right;
		width:			50%;
		vertical-align:	bottom;
	}

	div.loginform, div.registerform, div.uploadform
	{
		line-height:	2.5em;
		margin:			1.5em;
	}

	div.messagebox
	{
		border-color:		#606060;
		border-style:		solid;
		border-width:		1px;
		margin:				1.5em;
	}

		div.messagebox#error,
		div.messagebox#warning
		{
			background-color:	#f09090; 
		}

		div.messagebox#information
		{
			background-color:	#90f090;
		}

		div.messagebox img
		{
			margin:				0.75em;
			vertical-align:		middle;
		}

	div.search
	{
		padding:	0.75em;
	}

	div.search-small
	{
		clear:			both;
		float:			right;
		height:			0em;
		overflow:		visible;
		text-align:		right;
	}

	div.toplists
	{
		padding:	0.75em;
	}

	div.tagcloud
	{
		padding:		1.5em;
		padding-left:	20%;
		padding-right:	20%;
	}

	div.videoccdata
	{
		margin:			1.5em;
	}

		div.videoccdata img
		{
			border-width:		0px;
			margin-left:		0.5em;
			margin-right:		0.5em;
			margin-top:			0.5em;
		}

div.videostuff
{	
}

div.videotitle
{
	font-size:			1.5em;
	margin-bottom:		0.5em;
}

fieldset
{
	border-width:		0px;
}

hr
{
	background-color:	#c0c0c0;
	position:			relative;
	top:				0.25em;
	margin-bottom:		1.5em;
}

input
{
	text-align:		left;
}

img
{
	border-width:		0;
}

	img.openid-icon
	{
		padding-left:		0.2em;
		vertical-align:		text-top;
	}

	img.logo-big
	{
		padding-bottom:		0.5em;
	}

	img.logo-small
	{
	}

span.code
{
	font-family:	monospace;
}

span.heading
{
	font-size:			1.5em;
}

span.instruction
{
	color:				#606060;
}

span.protip
{
	color:				#606060;
}

span.protip:after
{
	content:			" )";
}

span.protip:before
{
	content:			"( ";
}

table.results
{
	display:			inline;
}

table.videometadata
{
	border-width:	0px;
	width:			100%;
}

	table.videometadata tr td.leftcell
	{
		color:			#606060;
		text-align:		right;
		width:			50%;
	}

	table.videometadata tr td.rightcell
	{
		text-align:		left;
		width:			50%;
	}

td
{
	vertical-align:		top;
}
