*
{
	clear:			both;
}

body
{
	font-family:		sans-serif;
	font-size:			8pt;
	font-weight:		bold;	
	min-width:			550px;
	margin:				2em;
}

a
{
	color:				#3f3fff;
	padding-left:		0.25em;
	padding-right:		0.25em;
	text-decoration:	none;
	white-space:		nowrap;
}

	a:hover
	{
		text-decoration:	underline;
	}

	a.tag
	{
		margin:				5pt;
	}

div
{
	border-width:		0px;
	border-style:		dashed;
}

	div.header1
	{
		color:			#525252;
		float:			left;
		text-align:		left;
		width:			50%;
		vertical-align:	bottom;
	}
	

	div.header2
	{
		clear:			none;
		float:			right;
		text-align:		right;
		width:			50%;
	}

		img.openid-icon
		{
			padding-left:		0.2em;
			vertical-align:		text-top;
		}

	div.loginform, div.registerform, div.uploadform
	{
		padding:		1.5em;
		text-align:		center;
	}
	
	div.loginform form, div.registerform form, div.uploadform form
	{
		margin:			1.5em;
	}

	div.logo-big
	{
		padding-top:	1.5em;
		text-align:		center;
	}

	div.logo-small-top
	{
		float:			left;
		height:			25px;
		margin-top:		1em;
	}

	div.logo-small-bottom
	{
		float:				left;
		height:				1.25em;
		margin-bottom:		2em;
	}

	div.search
	{
		padding:		1em;
		text-align:	center;
	}

	div.search-small
	{
		clear:			none;
		float:			right;
		text-align:		right;
		margin-top:		1em;
	}
	
		div.search form
		{
			margin:			1em;
		}

		div.search-small form
		{
			height:			1.25em;
		}

			div form fieldset
			{
				border-width:		0px;
			}

				div form fieldset input
				{
					text-align:		left;
				}

	div.video
	{
		text-align:	center;
	}

	div.videometadata
	{
		text-align:	center;
		margin:		4em;
	}

	div.toplists
	{
		text-align:	center;
	}

	div.tagcloud
	{
		text-align:	center;
		margin:		4em;
	}

	div.footer
	{
		text-align:			center;
	}


hr
{
	background-color:	#c0c0c0;
	position:			relative;
	top:				0.25em;
}
