/*
div
{
    outline-color:      black;
    outline-style:      solid;
    outline-width:      1px;
}
*/

/*
h1, h2, h3, h4, h5, h6, p
{
    outline-color:      black;
    outline-style:      dotted;
    outline-width:      1px;
}
*/

a[href=""],
img[alt=""]
{
    outline-color:      red;
    outline-style:      solid;
    outline-width:      3px;
}
