@import "reset.css";
@import "colors/tango.css";

body
{
    font-family:        sans-serif;
    font-size:          10pt;
    margin:             0px;
    padding:            0px;
    text-align:         center;
}

fieldset
{
    border-style:       solid;
    border-width:       1px;
    margin:             0px;
    padding:            1em;
}

form
{
height:             100%;
width:              100%;
}

button
{
    /* crude center hack */
    position:          absolute;
    top:                50%;
    left:               50%;
    width:              164px;
    height:             164px;
}

    button[name="playback"]
    {
        /* crude center hack */
        margin-left:    -82px;
        margin-top:     -82px;
    }
